[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

["dev-packages"]
codecov = "*"
flake8 = "*"
"pytest-cov" = "*"
pytest = "*"

[packages]
testcontainers = {extras = ["docker-compose", "google-cloud-pubsub", "mongo", "mysql", "oracle", "postgresql", "selenium"],editable = true,path = "."}
